#destaques-ia {
  display: flex;
  gap: 24px;

  .destaques-content {
    display: flex;
    flex-direction: column;

    header {
      border-top: 1px solid var(--stroke-color);
      padding-block: 12px 24px;

      a {
        display: flex;
        justify-content: space-between;

        img {
          vertical-align: middle;
        }
      }
    }

    .noticias-content {
      display: flex;
      flex-direction: column;
      gap: 32px;

      article {
        display: flex;
        gap: 16px;

        .main {
          .content-tag {
            border-radius: 4px;
            padding-inline: 8px;
            padding-block: 4px;
            letter-spacing: 0.04%;
            background-color: var(--brand-color-dark);
            text-transform: uppercase;

            font: 10px var(--font-family);
          }

          h2 {
            font: var(--h2);
            margin-top: 8px;
            margin-bottom: 4px;
          }

          p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* quantidade de linhas */
            -webkit-box-orient: vertical;
          }
        }

        img {
          height: 176px;
          width: 176px;
        }
      }
    }
  }

  aside {
    width: 488px;
    position: relative;

    .ads {
      gap: 32px;
      display: flex;
      flex-direction: column;

      figure {
        position: relative;
        width: 488px;
        height: 280px;

        button {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 8px;
          right: 8px;
          cursor: pointer;

          img {
            height: 16px;
            width: 16px;
          }
        }

        img {
          height: 280px;
          border-radius: 4px;
        }
      }

      article {
        header {
          padding-block: 12px 24px;
          border-top: 1px solid var(--stroke-color);

          a {
            display: flex;
            justify-content: space-between;

            img {
              vertical-align: middle;
            }
          }
          /* 
          h3 {
            margin-top: 8px;
          } */

          img {
            vertical-align: middle;
          }
        }

        .noticias {
          gap: 32px;
          display: flex;
          flex-direction: column;

          article {
            display: flex;
            flex-direction: row;
            gap: 15px;

            img {
              aspect-ratio: 1/1;
              object-fit: cover;
              width: 72px;
              height: 72px;
            }

            .noticias-main {
              h3 {
                margin-top: 6px;
                font: var(--h3);
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* quantidade de linhas */
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }
    }
  }
}
