#destaques-ia {
  display: flex;
  gap: 32px;

  .destaques-content {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--stroke-color);
    padding-top: 12px;
    gap: 24px;

    header {
      display: flex;
      justify-content: space-between;
    }

    .noticias {
      display: flex;
      gap: 16px;

      .main {
        .content-tag {
          border-radius: 4px;
          padding-inline: 8px;
          padding-block: 4px;
          letter-spacing: 0.04%;
          background-color: var(--brand-color-dark);
          text-transform: uppercase;

          font: 10px var(--font-family);
        }

        h2 {
          font: var(--h2);
          margin-top: 8px;
          margin-bottom: 4px;
        }

        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4; /* quantidade de linhas */
          -webkit-box-orient: vertical;
        }
      }

      img {
        height: 176px;
        width: 176px;
      }
    }
  }

  aside {
    width: 488px;
    position: relative;

    .ads {
      figure {
        position: relative;

        button {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 8px;
          right: 8px;
          cursor: pointer;

          img {
            height: 16px;
            width: 16px;
          }
        }

        img {
          height: 280px;
          border-radius: 4px;
        }
      }

      article {
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--stroke-color);
        gap: 24px;

        header {
          padding-top: 12px;
          display: flex;
          justify-content: space-between;
        }

        .noticias {
          gap: 32px;
          display: flex;
          flex-direction: column;

          .noticias-container {
            display: flex;
            gap: 15px;

            img {
              aspect-ratio: 1/1;
              height: 72px;
            }

            .noticias-main {
              gap: 6px;

              h2 {
                margin-top: 6px;
                font: var(--h2);
                line-height: 1.4;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* quantidade de linhas */
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }
    }
  }
}
