#nav-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#list {
  height: 20px;
  width: 20px;
}

#nav-secondary {
  padding-block: 14px;
  border-top: 1px solid var(--stroke-color);
  border-bottom: 1px solid var(--stroke-color);
}
