#mais-lidos header {
  border-top: 1px solid var(--stroke-color);
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

#mais-lidos header a {
  display: flex;
  cursor: pointer;
}

#mais-lidos header a img {
  margin-left: 4px;
}

#mais-lidos header span {
  font: var(--text-span);
}

#mais-lidos .noticias {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding-block: 24px;
}

#mais-lidos .noticias figure {
  position: relative;
}

#mais-lidos .noticias img {
  height: 160px;
  background-image: cover;
}

#mais-lidos .noticias figure .content-tag {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: var(--brand-color-dark);
  padding: 4px;
  border-radius: 4px;
}

#mais-lidos .noticias figure p {
  font-weight: 800;
  margin-top: 8px;
}
